@tailwind base;
@tailwind components;
@tailwind utilities;


/* debugger  */
/* *{
  border: 2px solid red;
} */

/* ------------------------------------ */
/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #585656;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1d1c20;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #26272b;
}

/* ------------------------------------ */


.active {
  color: #a4d0f2;
}

thead {
  padding-left: 3.75rem;
}

/* -------------------------------------------- */
/* PRELOADER  */

#preloader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999999999999;
  width: 100%;
  height: 100vh;
  background: #171719;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh;
}

#preloader svg circle {
  animation: animation1 2s ease 0s infinite reverse none;
}

#preloader svg #one {
  animation: animation1 2s ease 0s infinite normal none;
}

#preloader svg #two {
  animation: animation1 2s ease 0s infinite reverse none;
}

#preloader svg #three {
  animation: animation1 2s ease 0s infinite normal none;
}

#preloader svg #four {
  animation: animation1 2s ease 0s infinite reverse none;
}

#preloader svg #five {
  animation: animation1 2s ease 0s infinite normal none;
}

#preloader svg #six {
  animation: animation1 2s ease 0s infinite reverse none;
}

#preloader svg #seven {
  animation: animation1 2s ease 0s infinite normal none;
}

#preloader svg #eight {
  animation: animation1 2s ease 0s infinite reverse none;
}

@keyframes animation1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

/* span::after {
  padding-left: 5px;
} */

/* input[type="date"]:invalid + span::after {
  content: "✖";
}

input[type="date"]:valid + span::after {
  content: "✓";
} */



/* --------------------------------------------- */

/* ----------------------------- */
/* CUSTOM SELECT BOX */
/* --------------------------- */

.custom-dropdown {
  position: relative;
  background-color: #26272b;
  border-radius: 0.625rem;
  padding: 0.875rem 1.1875rem;
  width: 100%;
  cursor: pointer;
}

#filter .custom-dropdown {
  padding-inline: 0.5rem;
}

/* Custom arrow icon */
.custom-dropdown::after {
  content: url("https://github.com/Jay035/Solimax-v2/blob/main/public/icons/chevron-down.svg");
  position: absolute;
  top: 55%;
  right: 10px;
  transform: translateY(-50%);
  /* font-size: 12px; */
  /* width: 12px; */
}

.dropdown-options {
  z-index: 99999;
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  background-color: #3f3f46;
  border: 1px solid #f4f4f5;
  border-radius: 0.625rem;
  border-top: none;
  display: block;
  padding: 0.875rem 1.1875rem;
}

.custom-option {
  border-bottom: 1px solid #51525c;
  cursor: pointer;
}

.custom-option:hover {
  background-color: #26272b;
}

/* ---------------------------------------- */
/* CONNECT BUTTON */
#connect-btn button {
  @apply rounded-[3.125rem] text-center font-normal p-[0.62rem] border-[0.5px] w-[7.38rem] h-12 bg-[#454FDA] text-white border-[#424242];
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(204, 238, 238)
    )
    rgb(203, 236, 236);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
